<mat-tab-group #tabGroup mat-align-tabs="center" color="accent" backgroundColor="primary">
  <mat-tab class="main-mat-tab" label="Главная">
    <mat-card class="main-mat-tab__card">
      <button class="main-mat-tab__card__button"
              mat-raised-button color="primary"
              (click)="tabGroup.selectedIndex=1">
        Дисконтирование денежных потоков
      </button>
      <button class="main-mat-tab__card__button"
              mat-raised-button color="primary"
              (click)="tabGroup.selectedIndex=2">
        Чистый дисконтированный доход
      </button>
      <button class="main-mat-tab__card__button"
              mat-raised-button color="primary"
              (click)="tabGroup.selectedIndex=3">
        Дисконтированный период окупаемости
      </button>
      <button class="main-mat-tab__card__button"
              mat-raised-button color="primary"
              (click)="tabGroup.selectedIndex=4">
        Внутренняя норма рентабельности
      </button>
      <button class="main-mat-tab__card__button"
              mat-raised-button color="primary"
              (click)="tabGroup.selectedIndex=5">
        Индекс рентабельности
      </button>
      <button class="main-mat-tab__card__button"
              mat-raised-button color="primary"
              (click)="onTextbookButtonClick()">
        Пособие и методические указания
      </button>
    </mat-card>
    <mat-card style="align-items: center;
    display: flex;
    flex-direction: column;">
      <button mat-raised-button color="accent">
        BADYKOV STD.
      </button>
    </mat-card>
  </mat-tab>
  <mat-tab label="Дисконтирование денежных потоков">
    <mat-card>
      <button
        mat-raised-button color="primary"
        (click)="tabGroup.selectedIndex=0">
        На главную
      </button>
    </mat-card>
    <app-discounting-cash-flows></app-discounting-cash-flows>
  </mat-tab>
  <mat-tab label="Чистый дисконтированный доход">
    <mat-card>
      <button
        mat-raised-button color="primary"
        (click)="tabGroup.selectedIndex=0">
        На главную
      </button>
    </mat-card>
    <app-net-present-value></app-net-present-value>
  </mat-tab>
  <mat-tab label="Дисконтированный период окупаемости">
    <mat-card>
      <button
        mat-raised-button color="primary"
        (click)="tabGroup.selectedIndex=0">
        На главную
      </button>
    </mat-card>
    <app-discounted-payback-period></app-discounted-payback-period>
  </mat-tab>
  <mat-tab label="Внутренняя норма рентабельности">
    <mat-card>
      <button
        mat-raised-button color="primary"
        (click)="tabGroup.selectedIndex=0">
        На главную
      </button>
    </mat-card>
    <app-internal-rate-of-return></app-internal-rate-of-return>
  </mat-tab>
  <mat-tab label="Индекс рентабельности">
    <mat-card>
      <button
        mat-raised-button color="primary"
        (click)="tabGroup.selectedIndex=0">
        На главную
      </button>
    </mat-card>
    <app-profitability-index></app-profitability-index>
  </mat-tab>
</mat-tab-group>
